.git
client/target/**
!client/target/release/nebu-ctx
!client/target/release/nebu-ctx
dist/**
server/dist/**
!server/dist/linux/
!server/dist/linux/**
node_modules
.claude
homeassistant/Dockerfile
tests/
